<div class="form">
<h1>Stupid Coaching</h1>
  <ul><%= @question %></ul>
  <ul>- me</ul>
  <ul><%= @answer %></ul>
  <ul>- your coach</ul>
  <ul><%= link_to 'Ask a new question', 'http://localhost:3000/ask' %></ul>
</div>

